{% extends 'estoque/index.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% bootstrap_messages %}
<div class="container container-fluid">
    <h2>Controle de Licença</h2>
    <div class="container container-fluid">
        <form method="post">{% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        {% bootstrap_field form.produto %}
                        {% bootstrap_field form.fornecedor %}
                        {% bootstrap_field form.contrato %}
                    </div>

                    <div class="col-sm">
                        {% bootstrap_field form.aquisicoes %}
                        {% bootstrap_field form.quantidade_disponivel %}
                        {% bootstrap_field form.reservadas %}
                    </div>
                </div>
            </div>
            <input type="submit" value="Salvar" class="btn btn-success" onclick="utilizou_licenca({{object.id}})">
            <a href="{% url 'listar_estoque' %}" class="btn btn-primary">Sair</a>
        </form>
    </div>
</div>
{% endblock content %}

{% block static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/func_ajax.js' %}"></script>
{% endblock %}
