{% extends 'estoque/index.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <h1>Atualização de Licença</h1>
    <br>

    <div class="card-body">
        <form method="post">{% csrf_token %}
            <h4> Você tem certeza de que deseja excluir a licença: <strong
                    style="color:red;">{{object}}</strong>?</h4>
            <br><input type="submit" value="Excluir" class="btn btn-danger">
            <a href="{% url 'listar_estoque' %}" class="btn btn-primary">Sair</a>
        </form>
    </div>
</div>
</div>

{% endblock content %}