<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css">


    <title>Index</title>
    {% bootstrap_css %}
</head>
{% block bg_img %}
<body style="background-image: url({% static 'bootstrap/images/background.jpg' %});
       background-repeat: no-repeat; background-position: center; background-size: cover">
{% endblock %}

<header>
    <nav class="navbar navbar-dark bg-dark">
        <img src="{% static 'bootstrap/images/logo.png' %}" alt="logo porto" height="45px" class="img">
        <div>
            <a href="{% url 'admin:index' %}" class="btn btn-secondary">Cadastrar Usuário</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </nav>
</header>

<div class="container container-fluid">
    {% block content %}
    <br><br><br><br><br><br>
    <h1 align="center" style="color: #020202; font-size:55px;">Olá {{request.user}}, seja bem vindo ao
        sistema de controle de licença</h1><br>
    <div class="text" align="center">
        <h2 style="color:#ff0000;">Clique no botão abaixo para entrar no sistema</h2>
        <br>
        <a href="{% url 'listar_estoque' %}" class="btn btn-danger btn-lg" style="font-size:25px;">Controle de
            Licença</a>
    </div>
    {% endblock %}

    <footer class="footer page-footer">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <div>
                <span>© 2019 Copyright - Desenvolvido por Governança de TI - Porto Seguro</span>
            </div>
        </div>
        <!-- Copyright -->
    </footer>
</div>
{% block static %}
{% endblock %}
</body>
</html>
